@use "../globals" as *;
@use "../utilities" as *;
main {
  position: relative;
  padding-bottom: 3rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: rem(12) auto;
  &__title {
    color: var(--text-color2);
    font-weight: 600;
  }
  &__subtitle {
    font-size: rem(14);
    font-weight: 700;
    color: var(--text-color1);
  }
}
