@use "../utilities" as *;

.toggle {
  border: none;
  display: flex;
  flex: 1;
  align-items: center;
  height: rem(24);

  justify-content: end;
  // input[type="radio"] {
  //   opacity: 0;
  //   margin: 0;
  // }
  &-text {
    margin-right: rem(8);
    color: var(--toggle-text);
    font-size: rem(17);
    font-weight: 700;
  }
  .theme-switcher {
    position: relative;
    width: 53px;
    height: 24px;
    cursor: pointer;

    #dark {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }
  &__background {
    display: block;
    border-radius: rem(12);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    background: var(--toggler-color);
  }
  &__button {
    position: absolute;
    left: rem(2);
    top: rem(3);
    height: rem(18);
    width: rem(18);
    display: block;
    border-radius: 50%;
    background: var(--toggler-button);
    transition: all 0.3s ease-out;
  }

  #dark:checked ~ .toggle__button {
    transform: translateX(30px);
  }
}
